@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Ubuntu+Mono:ital@1&display=swap");

header {
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: darksalmon;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 20px 20px 20px 20px #f1e2d1;
}
.tphoto {
  grid-column: 1;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}
h1 {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "open sans", cursive;
  font-size: 60px;
  text-align: center;
  color: #fffbeb;
}
h2 {
  text-align: left;
  font-family: "open sans", cursive;
  font-size: 45px;
}
ul {
  font-size: 30px;
}
footer {
  background-color: salmon;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 20px 20px 20px 20px #f1e2d1;
  font-family: "open sans", cursive;
  text-align: center;  
}
#csymbol {
  font-size: 30px;
  color: #fffbeb;
 padding-top: .7em; 
}
#copyright {
    font-size: 25px;
    color:darkblue;

}
