body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Libre Baskerville", serif;
}

/* Header Styles */
header {
  width: 100%;
  background-color: #96bcb6;
}

.container {
  position: relative;
}
.container img {
  height: 100%;
  width: 100%;
}
.text-block {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
  background: radial-gradient(#eee, #6f8b87);
  opacity: 0.8;
  margin-right: 15px;
}
.text-block, .joinp {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      box-shadow: 0 0 30px #333;
      color: black;
      border-radius: 15px;
}
.joinp {
  background: radial-gradient(#eee, #96bcb6);  
  opacity: 1;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 30px;
}

.topt {
  position: absolute;
  top: 10px;
  right: 30%;
  font-size: 35px;
}
.banp {
  font-size: 20px;
  margin: 5px;
}

.day {
  text-align: center;
}
.news,
.spotlight,
.join,
.events,
.weather,
.spotlightj,
.secdiscover,
.disctxt, .spotlighttxt {
  border: 1px solid #00244c;
  background-color: #125688;
  box-shadow: 0 0 30px #00244c;
}
.weather {
  display: block;

}

.discimg {
  height: 100%;
  margin: 0;
  padding: 0.5rem;
}
.disctxt {
  margin: 50px 25px 35px 25px;
  padding: 0.5rem;
  }
  section {
  display: block;
  border: 1px solid #00244c;
  box-shadow: 0 0 30px #00244c;
  justify-content: center;
  }
  .chamber .cards {
    margin: .59rem;
  }
 h4, h5, .spottxt, h3,
.temp,
.spottxtj, figcaption {
  text-align: center;
  color: white;
  margin: 0;
}

.spottxtj {
  margin: 7px;
}
.temp {
  padding-bottom: 1rem;
}

.spotbottom,
.chill, h6 {
  text-align: center;
  border-top: solid 1px white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  padding: 1rem;
  color: white;
  font-style: italic;
}
h6 {
  padding-bottom: 0px;
  margin-bottom: 0px; 
  margin-top: 0px;
}
.temp p {
  margin-bottom: 0;
}
.eventp {
  line-height: 1.5;
  font-size: 14px;
  margin: 1rem;
}
.eventp2 {
  color: #e2b709;
}

.spotlight {
  display: grid;
  grid-template-columns: 1fr;
}
.newstxt {
  margin: 1rem;
  text-align: center;
}
.newsp,
.disctxt,
.timestamp {
  line-height: 1.5;
  color: white;
  letter-spacing: .5px;
}

.timestamp {
  margin-left: 35px;
}
.joindiv {
  text-align: center;
}
.jointxt {
  color: white;
  line-height: 1.3;
}

.cards h2, .weatherp, .newsp1,
.joinh3,.spot, .events1  {
  font-size: 20px;
  color: #e2b709;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin: 15px 5px 0px 5px;
}

 .chamber section .cards img {
  height: 85px;
  width: auto;
  padding-left: 40%; 
}  
.weatherimg {
 padding-left: 39%; 
 height: 90px;
 margin-top: -5px;
} 
.eventstxt {
  text-align: center;
  font-size: 14px;
  color: white;
}

.topcomp {
  display: flex;
  justify-content: space-between;
}

.logotxt {
  display: flex;
  justify-content: end;
  margin: 5px;
}
.logoletters {
  margin-top: 14px;
}
.medianav {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.media {
  justify-content: right;
}

.headerh1 {
  font-size: 45px;
  margin: 0;
}

.headerh2 {
  font-size: 20px;
  margin: 0;
} 
.logo {
  margin: 7px;
  margin-bottom: 10px;
  border-style: double;
  border-color: black;
  border-radius: 20px 20px 20px 20px;
  height: 75px;
  width: auto;
}
/* date banner under header */
.date {
  background-color: #00244c;
  font-size: 23px;
  color: #eee;
  padding: 15px 15px;
  text-align: center;
}
/* navigation styles*/
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color: #5c90c2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: rgb(8, 8, 8);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
nav li a.current {
  background-color: #00244c;
  color: #96bcb6;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1),
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

#hamburgerBtn.open span:nth-child(1),
#hamburgerBtn span:nth-child(2) {
  display: none;
}
/* media styles */
.fa {
  padding: 7px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.ffooter p {
  margin: 3px;
}

.chamber,.discover {
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
  margin: 0.5em auto; 
}
.joinmain {
  margin: .5rem;
}
.discover {
  margin: 0.5rem auto;
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
  row-gap: 1em;
} 
footer {
  background-color: #00244c;
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}
.ftext {
  margin-bottom: 10px;
}
.flogo {
  margin: 10px;
  margin-bottom: 0;
  border-style: double;
  border-color: black;
  border-radius: 20px 20px 20px 20px;
}

.sfooter {
  display: block;
  border-top: 1px solid;
  border-color: white;
  font-size: 10px;
}
.stfooter {
  margin: 7px;
}
.mfooter {
  padding-top: 0.75rem;
  margin-bottom: 7px;
}
.mfooter p {
  margin: 1px;
}
.map, .weath {
  
  color: white;
  font-size: 15px;
}
.map {
text-decoration: none;
}

form {
  padding: 0.5rem;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #5c90c2;
  border-radius: 10px;
  padding: 0.5rem 2%;
}
form legend {
  color: #5c90c2;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top {
  display: block;
  padding-top: 1rem;
  color: #00244c;
  font-size: 0.8rem;
}
form label.top input,
textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #00244c;
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 0.75rem;
  color: rgb(2, 20, 36);
  width: 90%;
  max-width: 20rem;
  background-color: rgb(236, 245, 245);
}
form label.level {
  display: block;
  padding: 0.75rem 0;
  color: rgb(2, 20, 36);
}

textarea {
  display: block;
}
form input.submitBtn {
  border: none;
  background-color: #00244c;
  font-size: 2rem;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

.spotlightj {
  display: none;
}
.thanks {
  text-align: center;
  color: #00244c;
}

.directory section {
  margin: 0.25rem;
  padding: 15px;
  background-color: #96bcb6;
  border: 1px solid #00244c;
  box-shadow: 0 0 5px #00244c;
  align-items: center;
}

.directory img {
  width: auto;
  max-width: 200px;
  height: 100px; 
}

.directory h1 {
  color: #000;
  border-bottom: 1px solid #2f443b;
  text-shadow: 0 0 30px #d9f8eb;
  width: 100%;
  text-align: center;
}
.directory h2 {
  color: #010114;
  font-size: 18px;
}
.directory h3 {
  color:#000;
  margin: 0;
  font-size: 14px;
}
.directory h4 {
  margin: 2px;
}
.directory .grid p {
  margin: -1px;
  font-family:"Libre Baskerville", serif;
  font-size: 13px;
}
.grid .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 5rem;
  align-items: center;
  text-align: center;
}
.list img {
  display: none;
}
.menu button {
  padding: 0.75rem 1.5rem.75rem 1.5rem;
  margin: 5px;
}
.menu {
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
}
.wh1 {
  text-align: center;
}
.wireframe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 100px;
}
.largelist  {
  grid-column: 1/2;
  padding-left: .5rem
}
.mediumlist {
grid-column: 2/3;
}
.smalllist {
  grid-column: 3/4;
}

 .wiremain {
   max-width: 90%; 
}
.contact {
  display: flex;
  flex-direction: column; 
  margin: 1rem;
}
.contactmap {
  text-align: center;
}
iframe {
  width: 100%;
  height: 400px;
}



