/* Header Styles */
header {
  background-color: #96bcb6;
}

.topcomp {
  display: flex;
  justify-content: space-between;
}

.logotxt {
  display: flex;
  justify-content: end;
  margin: 5px;
}

.medianav {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.media {
  justify-content: right;
}

h1 h2 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 45px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.logotxt {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.logo {
  margin: 5px;
  border-style: double;
  border-color: black;
  border-radius: 20px 20px 20px 20px;
}

.date {
  background-color: #00244c;
  font-size: 23px;
  color: #eee;
  padding: 15px 15px;
  text-align: center;
}
/* navigation styles*/
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color: #96bcb6;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
/* media styles */
.fa {
  padding: 7px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/* main styles */
main {
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  width: 90%;
  max-width: 1000px;
  margin: 2em auto;
  font-family: "Libre Baskerville", serif;
}
.ffooter p {
  margin: 3px;
}
footer {
  background-color: #00244c;
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}
.flogo {
  margin: 10px;
  border-style: double;
  border-color: black;
  border-radius: 20px 20px 20px 20px;
}

.sfooter {
  display: block;
  border-top: 1px solid;
  border-color: white;
  padding-bottom: 20px;

  font-size: 10px;
}
.mfooter {
  padding-top: 1.7rem;
  margin: 0;
}
.map {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
