@media only screen and (min-width: 64rem) {
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    justify-content: flex-end;
    margin-left: 2vw;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 1rem;

  }
  .events {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero {
    grid-column: 2/3;
    grid-row: 1/3;

  }
  .spotlight {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .join {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .news {
    grid-column: 2/3 ;
    grid-row: 3/4;
  }
  footer {
display: grid;
grid-template-columns: 1fr 1fr; 
 
}

.sfooter {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  grid-column: span 2;

}
.map {
  text-decoration: none;
  color: white;
}
}

