@media only screen and (min-width: 64rem) {
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    justify-content: flex-end;
    margin-left: 2vw;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 1rem;
    max-width: 1000px;
  }


  h1 {
    font-size: 45px;
    margin: 0;
  }
  h2 {
    font-size: 20px;
  }

  .container {
    position: relative;
    font-family: "Libre Baskerville", serif;
  }
  .container img {
   height: 100%;
    width: 100%;
  }
  .events {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .topt {
    display: block;
    top: 10px;
    right: 30%;
    font-size: 45px;
  }
  .container {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .spotlight {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .join {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .news {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mfooter {
    padding-top: 2.5rem;
    margin-bottom: 7px;
  }

  .sfooter {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    grid-column: span 2;
  }
  .map {
    text-decoration: none;
    color: white;
  }
  .discover{
    display: grid;
    grid-template-columns: 1fr;
  }
  .secdiscover{
    display: flex;
    justify-content: space-between;
  }
  .disctxt{
  background: none;
  border: none;
  box-shadow:none;
}
   picture.discimg {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
picture:hover.discimg {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} 

.joinmain{
  display: flex;
  justify-content: space-evenly;
}
    form label.level {
    padding: .4rem 0;
    }
form fieldset {
    margin: 2rem 0;
    border: 1px solid #5c90c2;
    border-radius: 10px;
    padding: .5rem .5rem 25% .5rem; 
}
.spotlightj {
  display:grid;
  margin-top: 37px;
  margin-bottom: 37px;
 
}
.thankmain{
  display: flex;
  justify-content: center;
}

}